<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HotDocs_HP_WordAddIn.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>      
    </configSections>  
   
    <userSettings>
      <HotDocs_HP_WordAddIn.MySettings>
        <setting name="CIBTemplateName" serializeAs="String">
          <value>CIB_HUI_iratok.dotx</value>
        </setting>
        <setting name="ApprovalPicHungarian" serializeAs="String">
          <value />
        </setting>
        <setting name="ApprovalPicEnglish" serializeAs="String">
          <value />
        </setting>
        <setting name="HotDocsTemplate" serializeAs="String">
          <value />
        </setting>
      </HotDocs_HP_WordAddIn.MySettings>
    </userSettings>
</configuration>
